.verdes{
    color: #042940;
    color: #005C53;
    color: #9FC131;
    color: #DBF227;
    color: #D6D58E;

    color: #034159;
    color: #025951;
    color: #02735E;
    color: #038C3E;
    color: #0CF25D;

    color: #00010D;
    color: #F2E205;
    color: #F2E852;
    color: #BFA004;
    color: #735702;

    color: #F2C53D;
    color: #F2D06B;
    color: #F2A81D;
    color: #D97904;
    color: #A64F03;
}